In [1]:
import pandas as pd #importing the Pandas
df=pd.read_csv('census.csv')#Reading the data from the census file by importing pandas
df.head()#displays the title

,age,workclass,education,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,nativecountry,over50k
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
#People of race are represented and race name as the index labels
df.groupby('race')['race'].count()

In [47]:
#average age of men
round(df.groupby('sex')['age'].mean()[1], 1)

C:\Users\janan\AppData\Local\Temp\ipykernel_40260\1908654320.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  round(df.groupby('sex')['age'].mean()[1], 1)

39.4

In [5]:
#percentage of bachelors
round((df['education'].str.strip().value_counts(normalize=True).loc['Bachelors']) * 100, 1)

16.3

In [34]:
#higher education #morethan50k #lessthan50k #Bachelors #Masters #Doctorate
advanced_education = df[df['education'].isin([' Bachelors', ' Masters', ' Doctorate'])]
print("Number of individuals with advanced education in the dataser",len(advanced_education))
# Check if there are individuals with advanced education 
if len(advanced_education) == 0:
    print("There are no individuals with advanced education in the dataset.")
else:
    # Filter further for those making less than equal to50k
    high_income_advanced_edu = advanced_education[advanced_education['over50k'] ==' <=50K']
    print("Number of individuals with advanced education in the dataset",len(high_income_advanced_edu))
    # Calculate the percentage
    percentage_high_income_advanced_edu = (len(high_income_advanced_edu) / len(advanced_education)) * 100
 #printing the percentage less than 50k     
    print("Percentage of people with advanced education making less than 50k:", percentage_high_income_advanced_edu)
    # Filter further for those making more than 50k
    high_income_advanced_edu = advanced_education[advanced_education['over50k'] == ' >50K']
    
    # Calculate the percentage
    percentage_high_income_advanced_edu = (len(high_income_advanced_edu) / len(advanced_education)) * 100
   #printing the percentage more than 50k 
    print("Percentage of people with advanced education making more than 50k:", percentage_high_income_advanced_edu)

Number of individuals with advanced education in the dataser 7274
Number of individuals with advanced education in the dataset 3878
Percentage of people with advanced education making less than 50k: 53.31317019521584
Percentage of people with advanced education making more than 50k: 46.68682980478416

In [36]:
#minimum number of hours a person works in the week
df['hoursperweek'].min()

1

In [37]:
# Find the minimum number of hours worked per week
min_hours_per_week = df['hoursperweek'].min()

# Filter the data for individuals working the minimum number of hours per week
min_hours_workers = df[df['hoursperweek'] == min_hours_per_week]

# Filter further for those making more than 50k
high_income_min_hours_workers = min_hours_workers[min_hours_workers['over50k'] == ' >50K']

# Calculate the percentage
percentage_high_income_min_hours = (len(high_income_min_hours_workers) / len(min_hours_workers)) * 100

print("Percentage of people who work the minimum number of hours per week and have a salary of more than 50k:", percentage_high_income_min_hours)

Percentage of people who work the minimum number of hours per week and have a salary of more than 50k: 11.11111111111111

In [40]:
# Group the data by country and count the number of individuals in each group
country_counts = df.groupby('nativecountry')['over50k'].value_counts().unstack().fillna(0)

# Calculate the percentage of people earning >50K for each country
country_counts['percentage_high_income'] = (country_counts[' >50K'] / (country_counts[' <=50K'] + country_counts[' >50K'])) * 100

# Find the country with the highest percentage of people earning >50K
highest_percentage_country = country_counts['percentage_high_income'].idxmax()
highest_percentage = country_counts.loc[highest_percentage_country, 'percentage_high_income']

print("Country with the highest percentage of people earning >50K:", highest_percentage_country)
print("Percentage:", highest_percentage)

Country with the highest percentage of people earning >50K:  Iran
Percentage: 41.86046511627907

In [46]:
# Filter the data for individuals earning >50K in India
high_income_india = df[(df['nativecountry'] == ' India') & (df['over50k'] == ' >50K')]

# Check if there are any records matching the filtering criteria
if not high_income_india.empty:
    # Find the most popular occupation
    most_popular_occupation = high_income_india['occupation'].value_counts().idxmax()
    print("Most popular occupation for individuals earning >50K in India:", most_popular_occupation)
else:
    print("There are no individuals earning >50K in India in the dataset.")

Most popular occupation for individuals earning >50K in India:  Prof-specialty